<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Search Project
				</div>
				<div class="tools">
					<a href="javascript:;" class="expand">
					</a>
				</div>
			</div>
			<div class="portlet-body display-hide">
				<strong><h4 class="text-left">Search with totoal point, cost or some thing...</h4></strong>
				<table>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.usecasePoint" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.usecasePoint }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px;">UsecasePoint minimum value:</div>
							<input id="mask_number" ng-model = "usecaseMin" style="text-align: right;" type="text">
							<span ng-bind="alert1" style="color: red; float: right;"></span>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px;">UsecasePoint max value:</div>
							<input id="mask_number" ng-model = "usecaseMax" style="text-align: right;" type="text">
							<span ng-bind="alert2" style="color: red; float: right;"></span>
						</td>
					</tr>
					<tr class="col-md-12">
						<td>
							<span ng-bind="alertUsecasePoint" style="color: red; float: right;">"></span>
						</td>
					</tr>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.functionPoint" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.functionPoint }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">FunctionPoint minimum value:</div>
							<input id="mask_number" ng-model = "functionMin" style="text-align: right;" type="text">
							<span ng-bind="alert3" style="color: red; float: right;">"></span>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">FunctionPoint max value:</div>
							<input id="mask_number" ng-model = "functionMax" style="text-align: right;" type="text">
							<span ng-bind="alert4" style="color: red; float: right;">"></span>
						</td>
					</tr>
					<tr class="col-md-12">
						<td>
							<span ng-bind="alertFunctionPoint" style="color: red;"></span>
						</td>
					</tr>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.usecaseCost" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.usecaseCost }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">Minimun project cost with usecase:</div>
							<input id="mask_number" ng-model = "usecaseCostMin" style="text-align: right;" type="text">
							<span ng-bind="alert5" style="color: red; float: right;">"></span>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">Maximun project cost with usecase:</div>
							<input id="mask_number" ng-model = "usecaseCostMax" style="text-align: right;" type="text">
							<span ng-bind="alert6" style="color: red; float: right;">"></span>
						</td>
					</tr>
					<tr class="col-md-12">
						<td>
							<span ng-bind="alertUsecaseCost" style="color: red;"></span>
						</td>
					</tr>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.functionCost" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.functionCost }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">Minimun project cost with function:</div>
							<input id="mask_number" ng-model = "functionCostMin" style="text-align: right;" type="text">
							<span ng-bind="alert7" style="color: red; float: right;">"></span>
						</td>
						<td class="col-md-5">
							<div style="float:left; width:calc(100% - 160px); min-width: 160px; ">Maximun project cost with function:</div>
							<input id="mask_number" ng-model = "functionCostMax" style="text-align: right;" type="text">
							<span ng-bind="alert8" style="color: red; float: right;">"></span>
						</td>
					</tr>
					<tr class="col-md-12">
						<td>
							<span ng-bind="alertFunctionCost" style="color: red;"></span>
						</td>
					</tr>
				</table>
					<div class="row">
						<div class="col-md-offset-9 col-md-3">
								<p>&nbsp</p>
						</div>
					</div>
					<span ng-bind="alertRoot" style="color: red;"></span>
					<div class="row">
						<div class="col-md-offset-9 col-md-3">
								<button type="submit" class="btn green" ng-click="show()" ><i class="fa fa-check"></i> Search</button>
							</div>
					</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
</div>

<div class="portlet box green-haze">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-globe"></i>List Project
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-hover" id="example">
		<thead>
		<tr>
			<th>
				 Project Name
			</th>
			<th>
				 UCP
			</th>
			<th class="hidden-xs">
				 UCP Cost
			</th>
			<th class="hidden-xs">
				UCP Ver
			</th>
			<th>
				 FP
			</th>
			<th class="hidden-xs">
				FP Cost
			</th>
			<th class="hidden-xs">
				FP Ver
			</th>
		</tr>
		</thead>
		
		</table>
		<div class="row">
			<div class="col-md-offset-9 col-md-3">
					<button type="submit" class="btn green" ng-click="searchAll()" ><i class="fa fa-check"></i> See All</button>
				</div>
		</div>
	</div>
</div>

<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
         	<!-- Simple Table -->
				<label class="col-md-3">User simple name: </label>
				<div class="form-horizontal">
					<div class="row col-md-9">
						<div class="col-md-8">
							<input type="text" class="form-control"	ng-model="$root.uSimpleValue" />
						</div>
						<div class="col-md-1">								
							<input value="Add" ng-click="addRowSimple()" class="btn btn-primary"/>
						</div>
					</div>
				</div>
			  <table class="table">
					<tr ng-repeat="uSimple in uSimples" class="row col-md-12">
						<td class="col-md-10">{{uSimple}}</td>
						<td class="col-md-2">
						<input type="button" value="Remove" class="btn btn-danger" ng-click="removeRowSimple(uSimple.uSimpleValue)"/>
						</td>
					</tr>
				</table>
			<!-- End Simple Table -->  
        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, nec luctus mauris semper.</p>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="Document">
        <md-content class="md-padding">
        	<button type="submit" class="btn red" ng-click="searchAll()" tabindex="0"><i class="fa fa-check"></i> Remove</button>
        	<button type="submit" class="btn blue" ng-click="searchAll()" tabindex="0"><i class="fa fa-check"></i> Read</button>
        	<button type="submit" class="btn green" ng-click="searchAll()" tabindex="0"><i class="fa fa-check"></i> Upload</button>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


<div  layout="column" style="height:300px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding >
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="width:815px; height: 650px;  max-width: 815px !important;">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content  layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-sidenav-focus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>

