 <div class="row">
 	 <p>list project </p>
	 <select class="form-control select2me" data-placeholder="Select..." ng-model="id">
	 	<option ng-repeat="item in projects" value="{{item.id}}" >{{item.projectName}}</option>
	 </select>
 </div>
 <div class="row">
 	<p>project name</p>
	 <input type="text" class="form-control input-circle" ng-model="newname"  placeholder="{{projects[id-1].projectName}}" >
	 New name is: <span ng-bind="newname"></span>
 </div>
<!--  <button type="button" class="btn blue" ng-click="getProjectId()">CREATE</button> -->
 <div class="row">
 	<p>project description</p>
 	<input type="text" class="form-control input-circle" ng-model="newdescription" placeholder="{{projects[id-1].description}}">
 	New name is: <span ng-bind="newdescription"></span>
 </div>
 <div class="row">
 	Old projecttype: <span ng-bind="projects[id-1].projecttypeId"></span>
 	<p>choose new project type</p>
 	<select class="form-control select2me" ng-model="projectTypeId" data-placeholder="Select...">
 		<option ng-repeat="item in projectTypes" placeholder="along"  value="{{item.id}}" >{{item.typeName}}</option>
 	</select>
 </div>
 <button type="button" class="btn blue" ng-click="updateProject()">CHANGE</button>
 <button type="button" class="btn blue" ng-click="load()">load</button>
 
<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Search Project
				</div>
				<div class="tools">
					<a href="javascript:;" class="expand">
					</a>
				</div>
			</div>
			<div class="portlet-body display-hide">
				<strong><h4 class="text-left">Search with totoal point, cost or some thing...</h4></strong>
				<table>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.usecasePoint" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.usecasePoint }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<span>UsecasePoint minimum value:</span>
							<input id="mask_number" ng-model = "usecaseMin" style="text-align: right;" type="text">
						</td>
						<td class="col-md-5:">
							<span>UsecasePoint max value:</span>
							<input id="mask_number" ng-model = "usecaseMax" style="text-align: right;" type="text">
						</td>
					</tr>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.functionPoint" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.functionPoint }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<span>FunctionPoint minimum value:</span>
							<input id="mask_number" ng-model = "functionMin" style="text-align: right;" type="text">
						</td>
						<td class="col-md-5:">
							<span>FunctionPoint max value:</span>
							<input id="mask_number" ng-model = "functionMax" style="text-align: right;" type="text">
						</td>
					</tr>
					<tr>
						<td class="col-md-2">
							<md-checkbox ng-model="data.cost" aria-label="Checkbox 2" ng-true-value="'yes'" ng-false-value="'no'" class="md-warn">
					      Use this criteria: {{ data.cost }}
					    </md-checkbox>
						</td>
						<td class="col-md-5">
							<span>Minimun total project cost:</span>
							<input id="mask_number" ng-model = "costMin" style="text-align: right;" type="text">
						</td>
						<td class="col-md-5:">
							<span>Maximun total project cost:</span>
							<input id="mask_number" ng-model = "costMax" style="text-align: right;" type="text">
						</td>
					</tr>
				</table>
					<div class="row">
						<div class="col-md-offset-9 col-md-3">
								<p>&nbsp</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-offset-9 col-md-3">
								<button type="submit" class="btn green" ng-click="show()" ><i class="fa fa-check"></i> Search</button>
							</div>
					</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
</div>

<div class="portlet box green-haze">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-globe"></i>List Project
		</div>
	</div>
	<div class="portlet-body">
		<table class="table table-striped table-hover" id="sample_5">
		<thead>
		<tr>
			<th>
				 Rendering engine
			</th>
			<th>
				 Browser
			</th>
			<th class="hidden-xs">
				 Platform(s)
			</th>
			<th class="hidden-xs">
				 Engine version
			</th>y
			<th class="hidden-xs">
				 CSS grade
			</th>
		</tr>
		</thead>
		<tbody>
		<tr  ng-repeat="item in projects" ng-class="rowClass(item)" >
			<td>
				 {{item.projectName}}
			</td>
			<td>
				 {{item.description}}
			</td>
			<td>
				 Win 95+
			</td>
			<td>
				 4
			</td>
			<td>
				 X
			</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>