<div class="row">
	<div class="col-md-4">
		<ul class="ver-inline-menu tabbable margin-bottom-10">
			<li>
				<a data-toggle="tab" href="#tab_1">
				<i>St.2</i> Unadjusted Use Case Weight </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_2">
				<i>St.3</i> Unadjusted Actor Weight </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_3">
				<i>St.4</i> Technical Complexity Factor Cal </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_4">
				<i>St.5</i> Environmental Complexity Factor Cal </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_5">
				<i>St.6</i> Comfim and result </a>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="tab-content">
			<div id="tab_1" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							Unadjusted Use Case Weight (UUCW) </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
							<!-- Simple Table -->
								<label class="col-md-3">User simple name: </label>
								<form class="form-horizontal" role="form" ng-submit="addRowSimple()">
									<div class="row col-md-9">
										<div class="col-md-8">
											<input type="text" class="form-control" name="uAverageValue"
												ng-model="uSimpleValue" />
										</div>
										<div class="col-md-1">								
											<input type="submit" value="Add" class="btn btn-primary"/>
										</div>
									</div>
								</form>
							  <table class="table">
									<tr ng-repeat="uSimple in uSimples" class="row col-md-12">
										<td class="col-md-10">{{uSimple.uSimpleValue}}</td>
										<td class="col-md-2">
										<input type="button" value="Remove" class="btn btn-danger" ng-click="removeRowSimple(uSimple.uSimpleValue)"/>
										</td>
									</tr>
								</table>
							<!-- End Simple Table -->  
							
							<!-- Average table -->		
								<label class="col-md-3">User average name: </label>
								<form class="form-horizontal "  role="form" ng-submit="addRowAverage()">
									<div class=" row col-md-9" >
										<div class="  col-md-8">
											<input type="text" class="form-control" name="uAverageValue"
												ng-model="uAverageValue" />
										</div>
										<div class=" col-md-1">								
											<input type="submit" value="Add" class="btn btn-primary"/>
										</div>
									</div>
								</form>
							  <table class="table">
									<tr ng-repeat="uAverage in uAverages" class="row col-md-12">
										<td class="col-md-10">{{uAverage.uAverageValue}}</td>
										<td class="col-md-2">
										<input type="button" value="Remove" class="btn btn-danger" ng-click="removeAverage(uAverage.uAverageValue)"/>
										</td>
									</tr>
								</table>					  
							<!-- end Average table -->	
							<!-- complex table -->		
								<label class="col-md-3">User Complex name: </label>
								<form class="form-horizontal" role="form" ng-submit="addRowuComplex()">
									<div class="row col-md-9">
										<div class="col-md-8">
											<input type="text" class="form-control" name="uComplexValue"
												ng-model="uComplexValue" />
										</div>
										<div class="col-md-1">								
											<input type="submit" value="Add" class="btn btn-primary"/>
										</div>
									</div>
								</form>
							  <table class="table">
									<tr ng-repeat="uComplex in uComplexs" class="row col-md-12">
										<td class="col-md-10">{{uComplex.uComplexValue}}</td>
										<td class="col-md-2">
										<input type="button" value="Remove" class="btn btn-danger" ng-click="removeuComplex(uComplex.uComplexValue)"/>
										</td>
									</tr>
								</table>				  
							<!-- end complex table -->						  
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab_2" class="tab-pane">
				<div id="accordion3" class="panel-group">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_1">
							Unadjusted Actor Weight (UAW) </p>
							</h4>
						</div>
						<div id="accordion3_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<!-- actor simple table -->
								<label class="col-md-3">Actor simple name: </label>
								<form class="form-horizontal" role="form" ng-submit="addRowaSimple()">
									<div class="row col-md-9">
										<div class="col-md-8">
											<input type="text" class="form-control" name="asimpleValue"
												ng-model="asimpleValue" />
										</div>
										<div class="col-md-1">								
											<input type="submit" value="Add" class="btn btn-primary"/>
										</div>
									</div>
								</form>
								  <table class="table">
										<tr ng-repeat="aSimple in aSimples" class="row col-md-12">
											<td class="col-md-10">{{aSimple.asimpleValue}}</td>
											<td class="col-md-2">
											<input type="button" value="Remove" class="btn btn-danger" ng-click="removeaSimple(aSimple.asimpleValue)"/>
											</td>
										</tr>
									</table>
								<!-- end actor simple table -->
								<!-- actor average table -->
									<label class="col-md-3">Actor average name: </label>
									<form class="form-horizontal" role="form" ng-submit="addRowaAverage()">
										<div class="row col-md-9">
											<div class="col-md-8">
												<input type="text" class="form-control" name="aAverageValue"
													ng-model="aAverageValue" />
											</div>
											<div class="col-md-1">								
												<input type="submit" value="Add" class="btn btn-primary"/>
											</div>
										</div>
									</form>
									  <table class="table">
											<tr ng-repeat="aAverage in aAverages" class="row col-md-12">
												<td class="col-md-10">{{aAverage.aAverageValue}}</td>
												<td class="col-md-2">
												<input type="button" value="Remove" class="btn btn-danger" ng-click="removeaAverage(aAverage.aAverageValue)"/>
												</td>
											</tr>
									</table>
								<!-- end actor average table -->
								<!-- actor comlpex table -->
									<label class="col-md-3">Actor complex name: </label>
									<form class="form-horizontal" role="form" ng-submit="addRowaComlpex()" >
										<div class="row col-md-9">
											<div class="col-md-8">
												<input type="text" class="form-control" name="aComlpexValue"
													ng-model="aComlpexValue" />
											</div>
											<div class="col-md-1">								
												<input type="submit" value="Add" class="btn btn-primary"/>
											</div>
										</div>
									</form>
									  <table class="table" class="col-md-12">
											<tr ng-repeat="aComplex in aComplexs">
												<td class="col-md-10">{{aComplex.aComlpexValue}}</td>
												<td class="col-md-2">
												<input type="button" value="Remove" class="btn btn-danger" ng-click="removeaComplex(aComplex.aComlpexValue)"/>
												</td>
											</tr>
									</table>
								<!-- end actor comlpex table -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab_3" class="tab-pane">
				<div id="accordion4" class="panel-group">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h4 class="panel-title">Technical Complexity Factor (TCF)</h4>
						</div>
						<div id="accordion4_1" class="panel-collapse collapse in">
							<div class="form-group">
								<div class="col-md-6">
									<div class="margin-bottom-10">
										<select class="bs-select form-control " ng-model="distributedId" placeholder="Choose value" data-style="blue" id="distributed" ng-init="distributedId=0 | num">
											<option value="0">distributed level 0</option>
											<option value="1">distributed level 1</option>
											<option value="2">distributed level 2</option>
											<option value="3">distributed level 3</option>
											<option value="4">distributed level 4</option>
											<option value="5">distributed level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="performance" ng-model="performanceId" ng-init="performanceId=0| num">
											<option value="0">Performance objectives level 0</option>
											<option value="1">Performance objectives level 1</option>
											<option value="2">Performance objectives level 2</option>
											<option value="3">Performance objectives level 3</option>
											<option value="4">Performance objectives level 4</option>
											<option value="5">Performance objectives level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="endUserefficiency" ng-model="endUserefficiencyId" ng-init="endUserefficiencyId=0| num">
											<option value="0">End-user efficiency level 0</option>
											<option value="1">End-user efficiency level 1</option>
											<option value="2">End-user efficiency level 2</option>
											<option value="3">End-user efficiency level 3</option>
											<option value="4">End-user efficiency level 4</option>
											<option value="5">End-user efficiency level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="complexProcessing" ng-model="complexProcessingId" ng-init="complexProcessingId=0| num">
											<option value="0">Complex Processing level 0</option>
											<option value="1">Complex Processing level 1</option>
											<option value="2">Complex Processing level 2</option>
											<option value="3">Complex Processing level 3</option>
											<option value="4">Complex Processing level 4</option>
											<option value="5">Complex Processing level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="easeofInstallation" ng-model="easeofInstallationId" ng-init="easeofInstallationId=0 | num">
											<option value="0">Ease of Installation level 0</option>
											<option value="1">Ease of Installation level 1</option>
											<option value="2">Ease of Installation level 2</option>
											<option value="3">Ease of Installation level 3</option>
											<option value="4">Ease of Installation level 4</option>
											<option value="5">Ease of Installation level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="easeofUse" ng-model="easeofUseId" ng-init="easeofUseId=0 | num">
											<option value="0">Ease of Use level 0</option>
											<option value="1">Ease of Use level 1</option>
											<option value="2">Ease of Use level 2</option>
											<option value="3">Ease of Use level 3</option>
											<option value="4">Ease of Use level 4</option>
											<option value="5">Ease of Use level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="portable" ng-model="portableId" ng-init="portableId=0 | num">
											<option value="0">Portable level 0</option>
											<option value="1">Portable level 1</option>
											<option value="2">Portable level 2</option>
											<option value="3">Portable level 3</option>
											<option value="4">Portable level 4</option>
											<option value="5">Portable level 5</option>
										</select>
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="margin-bottom-10">
										<select class="bs-select form-control " data-style="blue" id="easeofChange" ng-model="easeofChangeId" ng-init="easeofChangeId=0 | num">
											<option value="0">Ease of Change level 0</option>
											<option value="1">Ease of Change level 1</option>
											<option value="2">Ease of Change level 2</option>
											<option value="3">Ease of Change level 3</option>
											<option value="4">Ease of Change level 4</option>
											<option value="5">Ease of Change level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="concurrentUse" ng-model="concurrentUseId" ng-init="concurrentUseId=0 | num">
											<option value="0">Concurrent Use level 0</option>
											<option value="1">Concurrent Use level 1</option>
											<option value="2">Concurrent Use level 2</option>
											<option value="3">Concurrent Use level 3</option>
											<option value="4">Concurrent Use level 4</option>
											<option value="5">Concurrent Use level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="specialSecurity" ng-model="specialSecurityId" ng-init="specialSecurityId=0 | num">
											<option value="0">Special Security level 0</option>
											<option value="1">Special Security level 1</option>
											<option value="2">Special Security level 2</option>
											<option value="3">Special Security level 3</option>
											<option value="4">Special Security level 4</option>
											<option value="5">Special Security level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="accessforThirdParties" ng-model="accessforThirdPartiesId" ng-init="accessforThirdPartiesId=0 | num">
											<option value="0">Access for Third Parties level 0</option>
											<option value="1">Access for Third Parties level 1</option>
											<option value="2">Access for Third Parties level 2</option>
											<option value="3">Access for Third Parties level 3</option>
											<option value="4">Access for Third Parties level 4</option>
											<option value="5">Access for Third Parties level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="trainingNeeds" ng-model="trainingNeedsId" ng-init="trainingNeedsId=0 | num">
											<option value="0">Training Needs level 0</option>
											<option value="1">Training Needs level 1</option>
											<option value="2">Training Needs level 2</option>
											<option value="3">Training Needs level 3</option>
											<option value="4">Training Needs level 4</option>
											<option value="5">Training Needs level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="reusableCode" ng-model="reusableCodeId" ng-init="reusableCodeId=0 | num">
											<option value="0">Reusable Code level 0</option>
											<option value="1">Reusable Code level 1</option>
											<option value="2">Reusable Code level 2</option>
											<option value="3">Reusable Code level 3</option>
											<option value="4">Reusable Code level 4</option>
											<option value="5">Reusable Code level 5</option>
										</select>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div id="tab_4" class="tab-pane">
				<div class="panel-group">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h4 class="panel-title">Environmental Complexity Factor (ECF)</h4>
						</div>
						<div class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="form-group">
								<div class="col-md-6">
									<div class="margin-bottom-10">
										<select class="bs-select form-control " data-style="blue" ng-init="familiarwithDevelopmentProcessId=0 | num" id="familiarwithDevelopmentProcess" ng-model="familiarwithDevelopmentProcessId">
											<option value="0">Familiar with Development Process level 0</option>
											<option value="1">Familiar with Development Process level 1</option>
											<option value="2">Familiar with Development Process level 2</option>
											<option value="3">Familiar with Development Process level 3</option>
											<option value="4">Familiar with Development Process level 4</option>
											<option value="5">Familiar with Development Process level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" ng-init="applicationExperienceId = 0 | num" id="applicationExperience" ng-model="applicationExperienceId">
											<option value="0">Application Experience level 0</option>
											<option value="1">Application Experience level 1</option>
											<option value="2">Application Experience level 2</option>
											<option value="3">Application Experience level 3</option>
											<option value="4">Application Experience level 4</option>
											<option value="5">Application Experience level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" ng-init = "objectOrientedExperienceId = 0  | num" id="objectOrientedExperience" ng-model="objectOrientedExperienceId">
											<option value="0">Object-Oriented Experience level 0</option>
											<option value="1">Object-Oriented Experience level 1</option>
											<option value="2">Object-Oriented Experience level 2</option>
											<option value="3">Object-Oriented Experience level 3</option>
											<option value="4">Object-Oriented Experience level 4</option>
											<option value="5">Object-Oriented Experience level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="leadAnalystCapability" ng-model="leadAnalystCapabilityId" ng-init="leadAnalystCapabilityId=0 | num">
											<option value="0">Lead Analyst Capability level 0</option>
											<option value="1">Lead Analyst Capability level 1</option>
											<option value="2">Lead Analyst Capability level 2</option>
											<option value="3">Lead Analyst Capability level 3</option>
											<option value="4">Lead Analyst Capability level 4</option>
											<option value="5">Lead Analyst Capability level 5</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="margin-bottom-10">
										<select class="bs-select form-control " data-style="blue" id="motivation" ng-model="motivationId" ng-init="motivationId=0 | num">
											<option value="0">Motivation level 0</option>
											<option value="1">Motivation level 1</option>
											<option value="2">Motivation level 2</option>
											<option value="3">Motivation level 3</option>
											<option value="4">Motivation level 4</option>
											<option value="5">Motivation level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="stableRequirements" ng-model="stableRequirementsId" ng-init="stableRequirementsId=0 | num">
											<option value="0">Stable Requirements level 0</option>
											<option value="1">Stable Requirements level 1</option>
											<option value="2">Stable Requirements level 2</option>
											<option value="3">Stable Requirements level 3</option>
											<option value="4">Stable Requirements level 4</option>
											<option value="5">Stable Requirements level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="part-time-Staff" ng-model="partTimeStaffId" ng-init="partTimeStaffId=0 | num">
											<option value="0">Part-time Staff level 0</option>
											<option value="1">Part-time Staff level 1</option>
											<option value="2">Part-time Staff level 2</option>
											<option value="3">Part-time Staff level 3</option>
											<option value="4">Part-time Staff level 4</option>
											<option value="5">Part-time Staff level 5</option>
										</select>
										<select class="bs-select form-control " data-style="blue" id="difficulProgrammingLanguage" ng-model="difficulProgrammingLanguageId" ng-init="difficulProgrammingLanguageId=0 | num">
											<option value="0">Difficult Programming Language level 0</option>
											<option value="1">Difficult Programming Language level 1</option>
											<option value="2">Difficult Programming Language level 2</option>
											<option value="3">Difficult Programming Language level 3</option>
											<option value="4">Difficult Programming Language level 4</option>
											<option value="5">Difficult Programming Language level 5</option>
										</select>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab_5" class="tab-pane">
				<div id="accordion5" class="panel-group">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h4 class="panel-title">Result</h4>
						</div>
						<div class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
									<div class="visual">
										<i class="fa fa-comments"></i>
									</div>
									<div class="details">
										<div class="desc">
											Total Point
										</div>
										<div class="number">
											{{totalPoint}}
										</div>
										
									</div>
									</a>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<a class="dashboard-stat dashboard-stat-light red-soft" href="javascript:;">
									<div class="visual">
										<i class="fa fa-trophy"></i>
									</div>
									<div class="details">
										<div class="desc">
											 Total Hour
										</div>
										<div class="number">
											 {{totalHour}}
										</div>
									</div>
									</a>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
									<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
									<div class="visual">
										<i class="fa fa-shopping-cart"></i>
									</div>
									<div class="details">
										<div class="desc">
											 Total Cost
										</div>
										<div class="number">
											  {{totalCost}}
										</div>
									</div>
									</a>
								</div>
								<!-- BEGIN FORM-->
								<form action="#" class="form-horizontal">
									<div class="form-body">
										<div class="form-group">
											<label class="col-md-3 control-label">Hour per task</label>
											<div class="col-md-4">
												<input type="text" class="form-control input-circle" ng-model="hourPerTask" placeholder="Enter hour">
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Payment</label>
											<div class="col-md-4">
												<div class="input-group">
													<input type="text" class="form-control input-circle" ng-model="payment" placeholder="enter payment">
												</div>
											</div>
										</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn btn-circle blue" ng-click="review()">Preview</button>
												<button type="submit" class="btn btn-circle blue">Finish</button>
												<button type="button" class="btn btn-circle default">Cancel</button>
											</div>
										</div>
									</div>
								</form>
								<!-- END FORM-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

